* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
body {
  background-color: #068e99;
}
/* header */
header {
  height: 80px;
  padding: 1rem;
  background-color: lightblue;
}

.ms-scroll {
  overflow-y: auto;
}

.ms_logo {
  width: 50px;
}
/* ms_container */
.ms_container {
  display: flex;
  height: calc(100vh - 80px);
}

/* list section */
#ms-list_group {
  width: 50%;
  padding: 1rem;
  height: 100%;
}

/* new to do section */
#ms-new_todo {
  width: 50%;
}

.ms_new-div {
  padding: 1rem;
}

/* DONE TO DO */
.ms_done-todo {
  padding: 1rem;
}


/* LOGIN */
.ms_my-card-login{
  margin-top: 10rem;
  background-color: #1d2a4e;
}
.ms_login-title {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 40px;
  background-color: #0ef4e1;
  border-radius: 2rem;
}

.ms_login-btn {
  background-color: #0ef4e1;
}