* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* card */
.ms_my-card-signin {
  
}

/* title */
.ms_h2-title {

}

/* button */
.ms_sign-in-btn {
  background-color: #0ef4e1;
}